@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #334;
    z-index: 100;
    color: white;
}

.bg-dark {
    background-color: #343a40!important;
}

pre {
    height: auto;
    max-height: 150px;
    overflow-y: visible;
}

/* Copyleft */

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.copyleft::after {
    content: "\00a9";
}